.card {
  flex: 0 0 auto;
  width: 45vw; /* Adjust the width as needed */
  height: 33.75vw; /* Height for 4:3 aspect ratio (75% of the width) */
  margin: 5px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.card-container .card {
  width: 150px;
  height: 105px;
}

.card h3 {
  color: #000;
  font-size: 5vw; /* Adjust font-size relative to the viewport width */
  margin-top: 10px;
}

.card:hover {
  background-color: #e2e2e2;
  transform: scale(1.05);
  box-shadow: 0
  6px 12px rgba(0, 0, 0, 0.3);
}