body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('/public/flower.png'); 
  background-repeat: no-repeat; 
  background-position: top center; 
  background-size: auto; 
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/Noise.png'); /* Adjusted path */
  background-repeat: repeat;
  background-position: top left;
  opacity: 0.5; /* 50% opacity */
  mix-blend-mode: overlay;
  z-index: -1;
}


/* code styles... */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
